<div class="peopleListDiv">

  <input type="submit" (click)="showAllPeoples()"value="Show all members">

  <div *ngIf="showNextPeople">
    <app-people-and-choice-container-component
      [people]="nextPeopleToShow"
    ></app-people-and-choice-container-component>
  </div>

  <div class="peopleListDiv" *ngIf="showList">

    <SELECT name="interet" size="1">
      <OPTION *ngFor="let interet of interetList" (click)="filterList(interet)">{{interet}}</OPTION>
    </SELECT>



    <div *ngFor="let people of peopleList">
      <app-people-and-choice-container-component
        [people]="people" [displayChoice]="false"
      ></app-people-and-choice-container-component>
    </div>
  </div>
</div>
