

<p>MATCHHHHHHHHHHHHHHHHHH</p>
<input type="submit" (click)="test()">
<div class="peopleListDiv">
  <div *ngFor="let people of choicesService.peopleListWhoAreMatchted">
  <app-people-and-choice-container-component
    [people]="people" [displayChoice]="false"
  ></app-people-and-choice-container-component>
</div>
</div>
