<body>
<div class="mainLobby">
  <div class="logoAndTitle">
    <img src="assets/logo.png" class="logo">
    <p>Zinder</p>
    <p></p>
  </div>
  <div>
    <nav>
      <a routerLink="/stats" routerLinkActive="active" class="btn btn-info" (click)=" showMatchPreviewComponent = true; showAppListComponent = false">Statistiques </a>
      <a routerLink="/" routerLinkActive="active" class="btn btn-info" (click)="showAppListComponent = true; showMatchPreviewComponent = false"> find Love </a>
    </nav>
    <input type="submit" (click)="cleanMatchs()">
  </div>
</div>
<div>
<app-people-list-component *ngIf="showAppListComponent"></app-people-list-component>
<app-matchs-preview *ngIf="showMatchPreviewComponent"></app-matchs-preview>
</div>

</body>
