<div class="people">

  <SELECT name="interet" size="1">
    <OPTION *ngFor="let interet of interetList">{{interet}}</OPTION>
  </SELECT>

  <div class="name">
    <p>{{people.nom}}{{people.prenom}}</p>
  </div>

  <div>
    <img src="{{people.photoUrl}}" class="picture">
  </div>
</div>
